/* Media Query untuk layar dengan lebar maksimum 640px */
@media (max-width: 640px) {
    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 10%;
    }

    .kontener {
        padding: 10px;
    }

    .gambar {
        max-width: 100%;
        height: auto;
    }

    .judul_halaman {
        font-size: 1.2em;
    }

    .isiucapan1, .isiucapan2, .isiucapan3 {
        font-size: 1em;
    }

    .tombol {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }
}

/* Media Query untuk layar dengan lebar maksimum 768px */
@media (max-width: 768px) {
    .judul_halaman {
        font-size: 1.5em;
    }

    .gambar {
        max-width: 100%;
        height: auto;
    }
}
