/*Author    : fajar Onky Hariadi*/
/*Github    : https://github.com/skuyykek69*/
/*Facebook  : https://facebook.com/okikrbln2k2*/
/*Instagram : https://instagram.com/hi.kekk*/

@media (min-width: 300%) and (max-width: 640%) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10%;
        text-align: center;
        margin-top: 60%;
    }
}
