/*Author    : Fajar Onky Hariadi*/
/*Github    : https://github.com/skuyykek69*/
/*Facebook  : https://facebook.com/okikrbln2k2*/
/*Instagram : https://instagram.com/hi.kekk*/

/* Pastikan file ini di-link-kan dengan benar dalam HTML */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body,
html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  background: linear-gradient(-45deg, #f1ca89, #f29191, #907fa4, #4aa96c);
  background-size: 400% 400%;
  animation: animasiBegron 15s ease infinite;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.kontener2 {
  padding: 20px;
  text-align: center;
  margin-top: 17%;
}

.kontener2 h1 {
  color: #f5f5f5;
}

.kontener2 .tombol {
  padding: 10px 30px;
  background: transparent;
  color: #BCCFD7;
  outline: none;
  border: 2px solid #BCCFD7;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.kontener2 .tombol:hover {
  cursor: pointer;
  background: #BCCFD7;
  color: #f5f5f5;
  border: 2px solid #BCCFD7;
}

.kontener {
  padding: 20px;
  height: 100%;
}

.dalemnya_kontener {
  text-align: center;
  background: #867ae9;
  width: 100%;
  height: 94%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.dalemnya_halaman {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
}

section .gambar {
  max-width: 100%; /* Membuat gambar tidak lebih besar dari lebar kontainer */
  height: auto;    /* Mempertahankan aspek rasio gambar */
  border-radius: 10px;
}


section .ucapan {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #404040;
}

section .isiucapan {
  color: #707070;
  width: 82%;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

/* Tambahkan media queries ke sini juga jika perlu */
